---
import '../styles/global.css';

import { SITE_TITLE, SITE_DESCRIPTION, SITE_URL } from '../consts';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{`${title ? `${title} | ` : ''} ${SITE_TITLE}`}</title>
    <meta name="description" content={description || SITE_DESCRIPTION} />

    <meta property="og:title" content={`${title ? `${title} | ` : ''} ${SITE_TITLE}`} />
    <meta property="og:description" content={description || SITE_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE_URL} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
        rel="preload"
        href="/fonts/Inter-VariableFont_slnt,wght.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
</head>
